.Netart {
  background-color: black;
}

.mainContainer {
  background-color: #fff;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 5vh;
}

.navBar {
  display: flex;
  justify-content: center;
}

.navBar > img {
  transform: scale(0.7);
}

.topFirst {
  display: flex;
  justify-content: center;
}

.trophy > img {
  height: 65vh;
}

.priceContainer {
  display: flex;
}

.price {
  height: 40vh;
  width: 35vw;
}

.application {
  text-align: center;
  text-transform: uppercase;
}

.accessories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  border-bottom: 2px solid red;
}

.accessories > img {
  width: 80%;
  height: 20%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer > .title {
  font-weight: bold;
  text-transform: uppercase;
}

.footer .options {
  display: flex;
  justify-content: center;
  gap: 3px;
  flex-wrap: wrap;
}

.options > p {
  border-right: 1px solid red;
  padding-right: 3px;
  margin: 0;
  text-transform: uppercase;
}


